<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Detecting duplicates</title>
<link id="csschange" href="/css/bootstrap_white.min.css" value ='white' rel="stylesheet" type="text/css" ï¼>
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/justified-nav.css" rel="stylesheet">
<link href="/css/fileinput.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/echarts.min.js"></script>
<script src="/js/fileinput.js"></script>
</head>
<body>