<%- include header %>
     <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Detecting duplicates</h3>
       
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Just show it!</h1>
        <p class="lead">This is used to Detecting duplicates, Let‘s do something amazing！</p>
        <a class="btn btn-large btn-success" href="/hadimages">Get started</a>
      </div>

      <div class="footer">
        <p>&copy; 卢玥、李浩瀚、孙仲翊、王子杰、李博嘉, Beijing Information Science and Technology University & Halmstad University 2017</p>
      </div>

    </div> <!-- /container -->
</body>
</html>